
body {
    background-color: #5e5757;
}

#main_content {
    background-color: #FFFFFF;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    padding: 10px;
}

.auto_width {
    width: auto;
    height: auto;
    margin-bottom: 50px;
    background-color: aquamarine;
    outline: 10px dashed red;
    outline-offset: 15px;
}

.length_width {
    width: 50px;
    height: 50px;
    background-color: bisque;
    outline: 10px dashed yellowgreen;
    outline-offset: 15px;
    margin: 50px;
}

.percentage_width {
    width: 80%;
    height: 10%;
    background-color: blueviolet;
}

.initial_width {
    width: initial;
    height: initial;
    background-color: lightcoral;
}

.inherit_width {
    width: inherit;
    height: inherit;
    background-color: lightseagreen;
    border: 1px solid darkblue;
    outline: 15px ridge darkviolet;
    outline-offset: -25px;
    padding: 40px;
}

.max_width {
    max-width: 350px;
    min-width: 100px;
    background-color: magenta;
}

.max_height {
    max-height: 150px;
    max-width: 200px;
    background-color: mediumslateblue;
    overflow: auto;
}

.min_height {
    min-height: 150px;
    max-width: 200px;
    background-color: lightsalmon;
    position: relative;
}

